$theme-primary: #f08080;

// Type smoothing for your website - https://gist.github.com/akolinski/19966c8f70a43ef45e7f06878a87a464

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-image: url(/assets/images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 center;
  height: 800px;
  position: relative;
}

.navbar-custom {
  text-transform: uppercase;
  font-size: 18px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.06);
  background: #fdfdfd !important;
  border: none !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #333 !important;
  font-family: $font-family-monospace;
}

// Backgrounds

.full-width-background-1 {
  background-image: url('/assets/images/cronulla.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 center;
  height: 480px;
}

.full-width-background-2 {
  background-image: url('/assets/images/location.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 center;
  height: 480px;
}

.full-width-background-3 {
  background-image: url('/assets/images/gift-registry.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 center;
  height: 480px;
}

.full-width-background-thank-you {
  background-image: url('/assets/images/grass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 center;
  height: 500px;
}

.display-1, .display-2, .display-3, .display-4 {
  font-family: $font-family-monospace !important;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 48px;
}

.accent {
  color: $theme-primary;
}

p.lead {
  color: #333;
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 42px;
}

.btn-light {
  color: #343434;
  background-color: #fdfdfd;
  border-color: #343434;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 1rem 2.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0rem;
}

// Inspired from - http://demo.dethemes.com/story/topbar-onepage/

// @TODO
// Add mailchimp form, Name, Email, I will attend? Yes or No, Dietary requirements, Song choice
// Get nicole to create content for all the sections
// Bring in button animation click css
// Get hamburger in for mobile and fix mobile navigation styles
// Add a more info section like the demo above