// Inspired from - http://demo.dethemes.com/story/topbar-onepage/

$theme-primary: #ffbd57;

// Type smoothing for your website - https://gist.github.com/akolinski/19966c8f70a43ef45e7f06878a87a464

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-image: url('./../assets/images/hand-love.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
    position: relative;
    height: 450px;
    @include media-breakpoint-up(lg) {
        height: 80vh;
        min-height: 600px;
    }
    margin-top: 58px;
}

.custom-text-shadow {
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.9);
}

.bg-theme {
    background: rgba(255, 189, 87, 0.8);
}

.countdown {
    min-height: 62px;
    @include media-breakpoint-up(lg) {
        min-height: 121px;
    }

    .display-2 {
        line-height: 1.5;
    }
}

.navbar-custom {
    text-transform: uppercase;
    font-size: 18px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
    background: #fdfdfd !important;
    border: none !important;

    .nav-link {
        border-bottom: solid 2px #FFF;
    }

    .nav-link.active {
        border-bottom: solid 2px #f7bf61;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #333 !important;
    font-family: $font-family-monospace;
}

// Backgrounds

.full-width-background-1 {
    background-image: url('./../assets/images/cronulla.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;

    height: 200px;
    @include media-breakpoint-up(md) {
        height: 450px;
    }
}

.full-width-background-2 {
    background-image: url('./../assets/images/gift-registry.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;

    height: 200px;
    @include media-breakpoint-up(md) {
        height: 450px;
    }
}

.full-width-background-thank-you {
    background-image: url('./../assets/images/grass.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;

    height: 200px;
    @include media-breakpoint-up(md) {
        height: 450px;
    }
}

.full-width-background-be-married {
    background-image: url('./../assets/images/be-married.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;

    height: 200px;
    @include media-breakpoint-up(md) {
        height: 450px;
    }
}

.full-width-background-love {
    background-image: url('./../assets/images/love.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 76%;

    height: 200px;
    @include media-breakpoint-up(md) {
        height: 450px;
    }
}

.display-1, .display-2, .display-3, .display-4 {
    font-family: $font-family-monospace !important;
    text-transform: uppercase;
}

.display-1 {
    font-size: 2.8rem;
    @include media-breakpoint-up(md) {
        font-size: 6rem;
    }
}

.display-2 {
    font-size: 2.6rem;
    @include media-breakpoint-up(md) {
        font-size: 5.5rem;
    }
}

.display-4 {
    font-size: 1.8rem;
    @include media-breakpoint-up(md) {
        font-size: 3.5rem;
    }
}

h3, .h3 {
    font-size: 2rem;
    @include media-breakpoint-up(md) {
        font-size: 3rem;
    }
}

h4, .h4 {
    font-size: 1.4rem;
    @include media-breakpoint-up(md) {
        font-size: 1.5rem;
    }
}

.accent {
    color: $theme-primary;
}

p.lead {
    color: #333;
    margin-bottom: 42px;

    font-size: 20px;
    line-height: 32px;
    @include media-breakpoint-up(md) {
        font-size: 22px;
        line-height: 42px;
    }
}

.btn-light {
    color: #343434;
    background-color: #FFF;
    border-color: #343434;

    &:hover, &:focus {
        color: #343434;
        background-color: #f3f3f3;
        border-color: #343434;
    }
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #343434;
    background-color: #f3f3f3;
    border-color: #343434;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0rem;
}

.nicole-and-adam-img {
    width: 250px;
    border-radius: 50%;
}

// Fix known word wrap issue with bootstrap buttons - https://stackoverflow.com/questions/18996202/twitter-bootstrap-button-text-word-wrap/27773448#27773448
.btn {
    font-weight: 500;
    white-space: normal !important;
    word-wrap: break-word;
    transition: all 100ms ease-in-out;
    text-decoration: none !important;
    border-radius: $border-radius-lg;

    // Make buttons look like they are being pressed.
    &:active {
        transition: all 100ms ease;
        transform: translateY(1px);
    }
}

// White button variants

.btn-white {
    @include button-variant(#FFF, #FFF);
}

.btn-outline-white {
    @include button-outline-variant(#FFF, #FFF);

    &:hover, &:focus {
        background: none;
    }
}

// Remove focus outline from buttons
button:focus, a:focus {
    outline: none;
}

.btn-sm {
    border-width: 1px;
}

// Lets make a handy class to manage div elements that are anchors but we don't want text to have anchor styles
.no-anchor-styles {
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}

// For usage with anchors if you want a hover interaction to show an underline
.underline-on-hover {
    &:hover {
        text-decoration: underline !important;
    }
}

// For usage with anchors if you want a hover interaction to remove the underline
.no-underline-on-hover {
    &:hover {
        text-decoration: none !important;
    }
}

// Mailchimp form

#mc-embedded-subscribe-form input.mce_inline_error {
    border-color: $danger !important;
}

#mce-success-response {
    margin-top: 20px;
    border: solid 1px $success;
    border-radius: 6px;
    padding: 8px 12px;
    width: 50%;
    color: $success;
}

.title-offset {
    top: -5px;
}

// Bring in bootstrap 3 navbar toggle icon bars so we can animate them
.navbar-toggler {
    padding: 14px;
    border-color: $dark !important;

    .icon-bar {
        display: block;
        width: 20px;
        height: 2px;
        background-color: $dark;

        +.icon-bar {
            margin-top: 4px;
        }
    }
}


// Animate nav collapse icon - Pure css solution no jQuery - https://codepen.io/akolinski/pen/yagwNN
.animated-collapse-icon {
    $speed: 200ms;
    $easing: cubic-bezier(0.7, 0, 0, 0.7);

    .navbar-toggler {
        overflow: hidden;

        .icon-bar {
            transition: opacity, transform;
            transition-duration: $speed;
            transition-timing-function: $easing;
        }

        &:not(.collapsed) {
            .icon-bar {
                &:nth-child(1) {
                    transform: translateY(6px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                    transform: translateX(-100%);
                }
                &:nth-child(3) {
                    transform: translateY(-6px) rotate(-45deg);
                }
            }
        }
    }
}

.border-primary {
    border-color: #ffbd57 !important;
}