// Type smoothing for your website - https://gist.github.com/akolinski/19966c8f70a43ef45e7f06878a87a464

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}

// Heading

.page-content {

    // Spacing for headings inside page-content
    h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

}

// blockquote style

blockquote {
    padding: 10px 20px;
    border-left: 5px solid $gray-300;
}

// Header styles

.site-header {
  border-bottom: solid 2px $gray-300;
}

.site-title {
  color: #6D7883;
  font-size: $font-size-lg;
}

.post-meta {
  color: #6D7883;
  font-size: $font-size-sm;
}

// Footer styles

.site-footer {
  border-top: solid 2px $gray-200;
  color: #6D7883;
}

// Code highlight

.highlighter-rouge .highlight {
  background: $gray-100;
  border: none;
  color: $red;
  border-radius: 4px;
  margin: 1rem 0;
  padding: 0.5rem 0.8rem;
}