---
layout: default
---

<div class="bg-theme countdown">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12 mx-auto text-center">
                <p id="countdown" class="display-2 text-white custom-text-shadow p-0 m-0"></p>
            </div>
        </div>
    </div>
</div>
<div id="when" class="container text-center">
    <div class="row">
        <div class="col-12">
            <div class="pt-5 pt-lg-10">
                <h3>on April <span class="accent">4, 2020 at 5pm</span></h3>
                <div class="row justify-content-center mt-5">
                    <div class="col-12 col-lg-10">
                        <p class="lead mt-0 mb-0">We are celebrating love and we want you to be a part of that. We made this website so that you can tell us if you are coming and find out useful info for the wedding.</p>
                        <img class="img-fluid img-circle nicole-and-adam-img mt-3 mt-lg-6" src="./assets/images/nicole-and-adam-2.jpg" alt="Photo of Nicole and Adam"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="where" class="container text-center">
    <div class="row">
        <div class="col-12">
            <div class="py-4 py-lg-8">
                <h3>At <span class="accent">Wanda Surf Life Saving Club </span></h3>
                <div class="row justify-content-center mt-5">
                    <div class="col-12 col-lg-9">
                        <p class="lead mt-0 mb-0">As this is an exciting and intimate cocktail function, we ask that you leave the little ones at home so you can focus on enjoying yourself.</p>
                        <p class="lead mt-4 mb-0"><b>Address:</b> <a target="_blank" href="https://goo.gl/maps/7ydNrtzccd22">2 Marine Esplanade, Cronulla NSW 2230</a></p>
                        <a target="_blank" href="https://maps.google.com/?saddr=Current+Location&daddr=@Wanda+Surf+Life+Saving+Club+Inc." class="btn btn-light btn-lg mt-4 mt-sm-5 ml-sm-2">Get directions<i class="ml-2 fas fa-location-arrow"></i></a>
                        <a target="_blank" href="https://www.thefoundersroomwanda.com/gallery" class="btn btn-light btn-lg mt-4 mt-sm-5 ml-sm-2">View gallery<i class="ml-2 fas fa-camera"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-width-background-1"></div>
<div id="stay" class="container text-center">
    <div class="row">
        <div class="col-12">
            <div class="py-5 py-lg-10">
                <h3>Places <span class="accent">to stay</span></h3>
                <div class="row justify-content-center mt-5">
                    <div class="col-12 col-lg-9">
                        <p class="lead mt-0 mb-0">Here are two hotels you can get discount at whilst your staying in Cronulla. Although there are other places you can stay at via <a target="_blank" href="http://bit.ly/2Tw9SSE">Airbnb</a>.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-12 col-md-6 text-left">
                        <div class="card border-dark">
                            <div class="card-body">
                                <h4><a class="text-dark" target="_blank" href="https://www.rydges.com/accommodation/sydney-nsw/cronulla-beachside/">Rydges Cronulla Beachside</a></h4>
                                <small>Time to venue: 15 min <i class="ml-1 fas fa-walking"></i>, 4 min <i class="ml-1 fas fa-car"></i></small>
                                <p class="lead my-0 mt-3">
                                    Get 10% off your stay. Please call the hotel direct or <a href="mailto:rydges_cronulla@evt.com?subject=Accommodation&nbsp;enquiry&nbsp;-&nbsp;Discount&nbsp;code&nbsp;PKG9">email</a> and quote the code <strong>PKG9</strong>.
                                    <span class="d-block mt-3">
                                        <i class="fas fa-phone mr-1"></i> +61 2 9527 3100<br>
                                        <i class="fas fa-envelope mr-1"></i> <a href="mailto:rydges_cronulla@evt.com?subject=Accommodation&nbsp;enquiry&nbsp;-&nbsp;Discount&nbsp;code&nbsp;PKG9">rydges_cronulla@evt.com</a><br>
                                        <i class="fas fa-location-arrow mr-1"></i> <a target="_blank" href="https://goo.gl/maps/RjvrLFgZWnE2">20-26 Kingsway, Cronulla NSW 2230</a>
                                    </span>
                                </p>
                                <a href="mailto:rydges_cronulla@evt.com?subject=Accommodation&nbsp;enquiry&nbsp;-&nbsp;Discount&nbsp;code&nbsp;PKG9" class="btn btn-light mt-3 float-right">Email now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-5 mt-md-0 text-left">
                        <div class="card border-dark">
                            <div class="card-body">
                                <h4><a class="text-dark" target="_blank" href="http://www.questcronullabeach.com.au/">Quest Cronulla Beach</a></h4>
                                <small>Time to venue: 15 min <i class="ml-1 fas fa-walking"></i>, 4 min <i class="ml-1 fas fa-car"></i></small>
                                <p class="lead my-0 mt-3">
                                    Get a discount off your stay. Please book on their <a target="_blank" href="http://www.questcronullabeach.com.au/">website</a> and use the code <strong>Gittuswedding</strong>.
                                    <span class="d-block mt-3">
                                        <i class="fas fa-phone mr-1"></i> +61 2 8536 3600<br>
                                        <i class="fas fa-globe-asia mr-1"></i> <a target="_blank" href="http://www.questcronullabeach.com.au/">questcronullabeach.com.au</a><br>
                                        <i class="fas fa-location-arrow mr-1"></i> <a target="_blank" href="https://goo.gl/maps/VVnHEVFw5UM2">1 Kingsway, Cronulla  NSW 2230</a>
                                    </span>
                                </p>
                                <a target="_blank" href="http://www.questcronullabeach.com.au/" class="btn btn-light mt-3 float-right">Book online</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-width-background-love"></div>
<div id="info" class="container text-center">
    <div class="row">
        <div class="col-12">
            <div class="py-5 py-lg-10">
                <h3>Useful <span class="accent">info</span></h3>
                <div class="row justify-content-center mt-3 mt-lg-5">
                    <div class="col-12 col-lg-9">
                        <p class="lead mt-0 mb-0">We put this section together to help you with your stay in Cronulla.</p>
                    </div>
                </div>
                <div class="row mt-5 mt-lg-5 text-left">
                    <div class="col-12">
                        <h4><i class="fas fa-taxi fa-2x accent mr-3"></i> <span class="title-offset position-relative">Uber</span></h4>
                        <p class="lead">Get an Uber to get around in Cronulla. Download Uber from the <a target="_blank" href="https://itunes.apple.com/au/app/uber/id368677368?mt=8">app store</a> or <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ubercab&hl=en">android store</a> if you have a smart phone. If not you can <a target="_blank" href="https://auth.uber.com/login/?uber_client_name=riderSignUp&ds_rl=1249734">request a ride</a> from their website by signing up.</p>
                        <h4><i class="fas fa-train fa-2x accent mr-3"></i> <span class="title-offset position-relative">Train</span></h4>
                        <p class="lead">Cronulla is the last station on the Cronulla line. It is a 50 minute journey into Sydney central and a 45 minute train from Sydney Airport. If you plan to use the train we recommend you get an opal card. The card works just like an oyster/myki card and can be purchased from train stations and news agencies. You can also purchase a single ticket at train stations if need be. Wanda Surf club is a 20 minute walk from Cronulla train station or a 5 minute Uber ride.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-width-background-be-married"></div>
<div id="gifts" class="container text-center">
    <div class="row">
        <div class="col-12">
            <div class="py-5 py-lg-10">
                <h3>Gift <span class="accent">registry</span></h3>
                <div class="row justify-content-center mt-3 mt-lg-5">
                    <div class="col-12 col-lg-9">
                        <p class="lead mt-0 mb-0">Our family and friends are travelling far and wide to celebrate our wedding day. We are grateful for everyones commitment. If you would like to contribute we will have a wishing well to help towards our kitchen renovations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="full-width-background-2"></div>
<div id="rsvp" class="container text-center">
    <div class="row">
        <div class="col-12">
            <div class="py-5 py-lg-10">
                <h3>RSVP</h3>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="row justify-content-center mt-3 mt-lg-5 mb-4 mb-lg-6">
                            <div class="col-12 col-lg-9">
                                <p class="lead mt-0 mb-0">Please fill out the form below and let us know who can make it to the wedding.</p>
                            </div>
                        </div>
                        <div class="float-right"><span class="text-danger">*</span> required</div>
                        <form action="https://makeaweb.us18.list-manage.com/subscribe/post?u=bfa35041eb61a22372ab9438c&amp;id=7357ac5c86" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="text-left pt-5">
                            <div class="form-group">
                                <label for="mce-NAME">Names of attendees <span class="text-danger">*</span></label>
                                <input type="text" value="" name="NAME" class="form-control" id="mce-NAME" required>
                            </div>
                            <div class="form-group">
                                <label for="mce-EMAIL">Email Address <span class="text-danger">*</span></label>
                                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" required>
                            </div>
                            <fieldset class="form-group my-4">
                                <div class="row">
                                    <div class="col-form-label col-sm-2 pt-0">Attending? <span class="text-danger">*</span></div>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="Yes" name="ATTENDING" id="mce-ATTENDING-0" checked>
                                            <label class="form-check-label" for="mce-ATTENDING-0">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="No" name="ATTENDING" id="mce-ATTENDING-1">
                                            <label class="form-check-label" for="mce-ATTENDING-1">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group mb-3">
                                <label for="mce-DIETARY">Dietary requirements and pick a song</label>
                                <input type="text" value="" name="DIETARY" class="form-control" id="mce-DIETARY">
                            </div>
                            <div class="mb-1">
                                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-light btn-lg mb-0 mt-3">Send<i class="ml-2 fas fa-paper-plane"></i></button>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bfa35041eb61a22372ab9438c_7357ac5c86" tabindex="-1" value=""></div>
                            <div id="mce-responses" class="clear" style="padding: 0; margin: 0;">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
