---
layout: default
---

<div id="date" class="container text-center">
  <div class="row">
    <div class="col-12">
      <div class="p-5">
        <h2 class="display-4">on April 20, 2020</h2>
        <p class="lead">Curabitur et ullamcorper tortor. Cras rhoncus, justo eu eleifend molestie, urna mi eleifend est, vitae convallis sapien quam a lectus. Vestibulum at lectus enim. Suspendisse potenti. Aenean vel magna ut dui sollicitudin congue. Nam commodo nec velit sit amet mollis. Phasellus tristique facilisis diam quis bibendum.</p>
        <p id="demo" class="display-1"></p>
      </div>
    </div>
  </div>
</div>

<div class="full-width-background-4"></div>

<div id="location" class="container text-center">
  <div class="row">
    <div class="col-12">
      <p class="p-5">
        <h2 class="display-4">At Wanda Surf Life Saving Club</h2>
        <p class="lead"></p>
      https://www.wandasurfclub.com/
      </div>
    </div>
  </div>
</div>

<div class="full-width-background-4"></div>

<div id="places-to-stay" class="container text-center">
  <div class="row">
    <div class="col-12">
      <div class="p-5">
        <h2 class="display-4">Need a place to stay?</h2>
        <p>There are plenty of options </p>
      </div>
    </div>
  </div>
</div>

<div class="full-width-background-4"></div>

<div id="gifts" class="container text-center">
  <div class="row">
    <div class="col-12">
      <div class="p-5">
        <h2 class="display-4">Gift Registry</h2>
        <p class="lead">Nulla fringilla facilisis metus ac finibus. Praesent tortor purus, faucibus ut sapien id, tincidunt bibendum sem. Morbi vitae mi arcu. Nunc dapibus risus nec consequat suscipit. Proin tincidunt sed massa id vehicula. Suspendisse velit nulla, scelerisque et nunc in, ullamcorper eleifend metus. Donec semper aliquet dolor in vehicula.</p>
      </div>
    </div>
  </div>
</div>

<div class="full-width-background-5"></div>

<div id="rsvp" class="container text-center">
  <div class="row">
    <div class="col-12">
      <div class="p-5">
        <h2 class="display-4">RSVP</h2>
        <p class="lead">Nulla fringilla facilisis metus ac finibus. Praesent tortor purus, faucibus ut sapien id, tincidunt bibendum sem. Morbi vitae mi arcu. Nunc dapibus risus nec consequat suscipit. Proin tincidunt sed massa id vehicula. Suspendisse velit nulla, scelerisque et nunc in, ullamcorper eleifend metus. Donec semper aliquet dolor in vehicula.</p>
      </div>
    </div>
  </div>
</div>

<div id="thank-you" class="full-width-background-thank-you">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-6 mx-auto">
        <p class="display-1 text-white">Thank you</p>
      </div>
    </div>
  </div>
</div>

